<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{ 'Nilai a :' + a }}</h1>
        <h1>{{ 'Nilai rata" :' + a/a }}</h1>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a = 0,
            },
            method : {
                openForm : function(){
                    if (a, a < 10, a++) {
                        this.a = []
                        this.a = prompt("masukkan nilai a")
                        this.a += a
                        return a
                    }
                }
            }
        })
    </script>
</body>
</html>