<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
	<div id="app">
		<input v-model="query" placeholder="ketikkan kata kunci"> 
		<ul v-for="(item, index) in result">
            <li :key="index">
                {{ item.book }}
            </li>
        </ul>
	</div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
		let vm = new Vue({
			el: "#app",
			data: {
				query:"",
				books:[
					{ book: "Kalkulus Dasar"},
					{ book: "Fisika Dasar"},
					{ book: "Aljabar Linier Elementer"},
					{ book: "Aljabar Abstrak"},
					{ book: "Algoritma Pemrograman"}
				],
				isSearching:false,
				result: []
			},
			watch: {
				query: function () {
					var vm = this
					this.isSearching = true;
					setTimeout(function(){
						vm.result = vm.books.filter(function (item){
							return item.book.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
						})
					}, 500)
				}
			},
		});
	</script>

</body>
</html>
