<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    form {
        border: 1px solid #ddd;
        padding:5px;
        width:225px;
        background: #efefef;
    }
    label{
        display: block;
        margin-top: 5px;
    }
    input, textarea, select, option {
        min-width: 200px;
    }
    </style>

</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <p v-if="errors.lenght">
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label>Name: </label>
            <input type="text" name="name" ref="name" v-model="name">
            <label>Address: </label>
            <textarea name="address" ref="address" v-model="address"></textarea>
            <label>No. HP: </label>
            <input type="number" name="no_hp" ref="no_hp" v-model="no_hp">
            <br><br>
            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" @click="updateMember(idEditMember)" value="UPDATE">
                <input type="button" value="CANCEL" @click="clearForm">
            </div>

        </form> <br><br>

        <table border="1">
            <tr v-for="member of members">
                <td>
                    <b>Name : </b> {{ member.name }} <br>
                    <b>Address : </b> {{ member.address }} <br>
                    <b>No HP : </b> {{ member.no_hp }} <br>
                </td>
                <td>
                    <button @click="editMember(member)">Edit</button>
                    <button @click="removeMember(member.id)">Delete</button>
                    <button @click="uploadPhoto(member)">Upload Photo</button>
                </td>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                address: '',
                no_hp: '',
                errors: [],
                domain: "http://demo-api-vue.sanbercloud.com",
                members: [],
                buttonStatus :'submit',
                idEditMember : null,

        },
        methods : {
            validationForm : function(){
                this.errors = []

                if(this.name.length < 5){
                    this.errors.push('Title minimal 3 karakter')
                    this.$refs.name.focus()
                }

                if(this.address.length < 10){
                    this.errors.push('Alamat tidak boleh kurang dari 10 karakter')
                    this.$refs.address.focus()
                }
                
                if(this.address.length == 0){
                    this.errors.push('Alamat harus diisi')
                    this.$refs.title.focus()
                }


                if(this.no_hp.length < 12){
                    this.errors.push('Nomer HP belum lengkap')
                    this.$refs.no_hp.focus()
                }
            },
            clearForm : function(){
                this.name = ""
                this.address = ""
                this.no_hp = ""
                this.buttonStatus = "submit"
            },
            getMember : function(){
                const config = {
                    method : "get",
                    url : `${this.domain}/api/member`,
                }
                axios(config)
                    .then((response) => {
                        this.members = response.data.members
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
            },
            submitForm : function(){
                this.validationForm()

                if(this.errors.length === 0){
                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.no_hp)

                    const config = {
                        method : "post",
                        url : `${this.domain}/api/member`,
                        data : formData,
                    }

                    axios(config)
                        .then( (response) => {
                            this.clearForm()
                            this.getMember()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                }
            },
            removeMember : function(id){
                const config = {
                    method : "post",
                    url : `${this.domain}/api/member/${id}`,
                    params : { _method : "DELETE"}
                }
                axios(config)
                .then((response)=> {
                    this.getMember()
                    alert(response.data.message)
                })
                .catch((error)=> {
                    console.log(error)
                })
            },
            editMember : function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = "update"
                    this.idEditMember = member.id
            },
            updateMember : function(id){
                this.validationForm()

                if(this.errors.length === 0){
                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.no_hp)

                    let config = {
                        method : "post",
                        url : `${this.domain}/api/member/${id}`,
                        params : { _method : "PUT"},
                        data : formData
                    }
                    axios(config)
                    .then((response) => {
                        this.clearForm()
                        this.getMember()
                        alert(response.data.message)
                    })
                    .catch((error) => {
                        console.log(error)
                    })

                }
            }
        },
        created() {
            this.getMember()
        }
    })

    </script>
</body>
</html>